{% extends 'baseSite.html' %}
{% block content %}
{% if votacoesConcluidas %}
    <p class='titulo'>Votações Concluídas</p>
    <ul>
    {% for Votacao in votacoesConcluidas %}
        <table id="dtVerticalScrollExample" class="table table-responsive-sm table-striped table-bordered table-sm" cellspacing="0"
        width="90%">
            <thead>
                <th>Nome do Aluno</th>
                <th> Data de Criação</th>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <li><a href="{% url 'exibirAluno' Votacao.aluno.cpfAluno %}">{{ Votacao.aluno.nomeAluno }}</a></li>
                    </th>
                    <th>
                        <p>{{ Votacao.created_date }}</p>
                    </th>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    </ul>
    <div class="divLinkEscolhas">
        <a href="{% url 'emAndamento' %}"><i class="far fa-play-circle"></i> Visualizar votações em andamento</a><br>
        <a href="{% url 'pausadas' %}"><i class="far fa-pause-circle"></i> Visualizar votações pausadas</a>
    </div>
{% else %}
    <h2>Sem votações concluidas</h2>
    <div class="divLinkEscolhas">
        <a href="{% url 'emAndamento' %}"><i class="far fa-play-circle"></i> Visualizar votações em andamento</a><br>
        <a href="{% url 'pausadas' %}"><i class="far fa-pause-circle"></i> Visualizar votações pausadas</a>
    </div>
{% endif %}
{% endblock %}