{% extends 'baseSite.html' %}
{% block content %}
    {% for Aluno in aluno %}
        <div class="exibirAluno">
            <div class="d-flex justify-content-center">
                <div class="aluno-pic-holder rounded shadow-sm"><img class="rounded" src="{{Aluno.imagemAluno.url}}" alt=""></div>
            </div>
            <br>
            <div>
                <p><strong>Nome do Aluno: </strong> {{Aluno.nomeAluno}}</p>
                <p><strong>CPF:</strong> {{Aluno.cpfAluno}}</p>
                <p><strong>Curso: </strong>{{Aluno.cursoAluno}}</p>
                <p><strong>Ano: </strong>{{Aluno.serieAluno}}º <strong>Turma: </strong>"{{Aluno.turmaAluno}}"</p>
                {% if template_name == emAndamento %}
                <p><strong>Situação:</strong> Em Andamento</p>
                {% else %}
                <p><strong>Situação:</strong> Concluída</p>
                {% endif %}
            </div>
        </div>
        <div class="div-bt-votar">
            {% if template_name == 'emAndamento' %} 
                <button class="bt_votar">Votar</button>
                {% else %}
                    <button disabled class="bt_votar">Votar</button>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}