{% extends 'baseSite.html' %}
{% block content %}
    <h2>Detalhes da Votação</h2>
    <div class="exibirAluno">
        <div class="d-flex justify-content-center">
            <div class="aluno-pic-holder rounded shadow-sm"><img class="rounded" src="{{aluno.imagemAluno.url}}" alt=""></div>
        </div>
        <br>
        <div>
            <p><strong>Nome do Aluno: </strong> {{aluno.nomeAluno}}</p>
            <p><strong>CPF:</strong> {{aluno.cpfAluno}}</p>
            <p><strong>Curso: </strong>{{aluno.turmaAluno.cursoTurma}}</p>
            <p><strong>Ano: </strong>{{aluno.turmaAluno.anoTurma}} <strong>Turma: </strong>"{{aluno.turmaAluno.nomeTurma}}"</p>
            {% if template_name == 'emAndamento' %}
                <p><strong>Situação:</strong> Em Andamento</p>
                {% elif template_name == 'pausada'%}
                    <p><strong>Situação:</strong> Pausada</p>
                    {% else %}
                        <p><strong>Situação:</strong> Concluída</p>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="div-bt-votar">
        {% if template_name == 'emAndamento' %} 
            {% if not professor in votaram %}
                <form method="POST">
                    {% csrf_token %}
                        {{ form.voto }}
                        <select class="d-none" name="professor" required id="id_professor">
                            <option value="{{professor.id}}" selected></option>
                        </select>
                        <select class="d-none" name="votacao" required id="id_votacao">
                            <option value="{{votacao.id}}" selected></option>
                        </select>
                    <input type="submit" value='votar'>
                </form> 
                {% else %}
                    <h4>Votado</h4>
            <br>
            {% endif %}
        {% endif %}
        {% if template_name == 'finalizada' %}
            <div class="votos-cont">
                <h4>Votos Contabilizados</h4>
                <table class="table table-responsive-sm table-striped table-bordered table-sm" cellspacing="0"
                width="50%" >
                    <thead>
                        <title>Votos</title>
                        <tr>
                            <th>Sim</th>
                            <th>Não</th>
                            <th>Abstenção</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{votoSim}}</th>
                            <th>{{votoNao}}</th>
                            <th>{{votoAbs}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}