{% extends 'baseSite.html' %}
{% block content %}
{% if votacoesPausadas %}
    <p class='titulo'>Votações Pausadas</p>
    <ul>
    {% for Votacao in votacoesPausadas %}
        <table id="dtVerticalScrollExample" class="table table-responsive-sm table-striped table-bordered table-sm" cellspacing="0"
        width="90%">
            <thead>
                <th>Nome do Aluno</th>
                <th> Data de Criação</th>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <li><a href="{% url 'exibirAluno' Votacao.aluno.cpfAluno %}">{{ Votacao.aluno.nomeAluno }}</a></li>
                    </th>
                    <th>
                        <p>{{ Votacao.created_date }}</p>
                    </th>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    </ul>
    <a href="{% url 'emAndamento' %}">Visualizar votações em andamento</a><br>
    <a href="{% url 'concluidas' %}">Visualizar votações em andamento</a>
{% else %}
    <h2>Sem votações pausadas</h2>
    <a href="{% url 'emAndamento' %}">Visualizar votações em andamento</a><br>
    <a href="{% url 'concluidas' %}">Visualizar votações concluidas</a>
{% endif %}
{% endblock %}