{% extends 'baseSite.html' %}
{% block content %}
{% if votacoesPausadas %}
    <h2>Votações Pausadas</h2>
    <ul>
        <table id="dtVerticalScrollExample" class="table table-responsive-sm table-striped table-bordered table-sm" cellspacing="0"
        width="90%">
            <thead>
                <th>Nome do Aluno</th>
                <th> Data de Criação</th>
            </thead>
            <tbody>
                {% for Votacao in votacoesPausadas %}
                    <tr>
                        <th>
                            <li><a href="{% url 'exibirAluno' Votacao.aluno.cpfAluno %}">{{ Votacao.aluno.nomeAluno }}</a></li>
                        </th>
                        <th>
                            <p>{{ Votacao.created_date }}</p>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
    <a href="{% url 'emAndamento' %}"><i class="far fa-play-circle"></i> Visualizar votações em andamento</a><br>
    <a href="{% url 'concluidas' %}"><i class="far fa-check-square"></i> Visualizar votações concluidas</a>
{% else %}
    <h2>Sem votações pausadas</h2>
    <a href="{% url 'emAndamento' %}"><i class="far fa-play-circle"></i> Visualizar votações em andamento</a><br>
    <a href="{% url 'concluidas' %}"><i class="far fa-check-square"></i> Visualizar votações concluidas</a>
{% endif %}
{% endblock %}