{% extends 'base.html' %}
{% block content %}
<div>
    <form action="" method="POST">
        <label for="nomeProfessor">Nome: </label>
        <input id="nomeProfessor" type="text" name="nomeProfessor" maxlength="100" required>
        <label for="nomeProfessor">Email: </label>
        <input id="nomeProfessor" type="email" name="emailProfessor" maxlength="100" required>
        <label for="nomeProfessor">Digite uma senha: </label>
        <input id="senhaProfessor1" type="password" name="senhaProfessor1" maxlength="100" required>
        <label for="nomeProfessor">Digite novamente: </label>
        <input id="senhaProfessor2" type="password" name="senhaProfessor2" maxlength="100" required>
    </form>
    <a href="{% url 'login' %}">Já é registrado? Login</a>
</div>
{% endblock %}